# Auto detect text files and perform LF normalization
* text=auto
models filter=lfs diff=lfs merge=lfs -text
generalModel.h5 filter=lfs diff=lfs merge=lfs -text
cancerousM.h5 filter=lfs diff=lfs merge=lfs -text
cancerousModel.h5 filter=lfs diff=lfs merge=lfs -text
benignModel.h5 filter=lfs diff=lfs merge=lfs -text
vascModel.h5 filter=lfs diff=lfs merge=lfs -text
models/.%h5 filter=lfs diff=lfs merge=lfs -text
