html {
  font-family: "Ubuntu";
  min-height:100%;
}

body {
  background: linear-gradient(170deg, #87a4ae 0%, #3a89d7 40%);
  color: #000000;
  font-family: "Ubuntu", sans-serif;
  min-height: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  max-width: 800px;


}

/*white rounded corners*/
.top-container {
  padding: 15px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  font-family: "Ubuntu", sans-serif;
  color: #000000;
}

.heading {
  color: black;
}

h2 {
  display: flex;
  color: black;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 20px;
  text-align: justify;
}

span::before,
span::after {
  content: '\00a0';
  font-family: sans-serif;
}

span {
  /*color: #000000;
  #font-weight: 700;*/
  text-align: center;
}

.button {
  display: inline-block;
  text-align: center;
  width: auto;
  margin: 5px auto;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  /* Set the background color to light blue */
  border: 0;
  border-radius: 20px;
  padding: 10px 20px;
  /* Create an inside glow effect */
  transition: all 0.3s ease-in-out;
}

.button:hover {
  box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.2);
  color: #000000;
  cursor: pointer;

}

select {
  display: inline-block;
  text-align: center;
  width: auto;
  margin: 5px auto;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #00bfff;
  /* Set the background color to light blue */
  border: none;
  border-radius: 4px;
  padding: 5px 7px;
  /* Create an inside glow effect */
  transition: background-color 0.3s ease-in-out;
}

select:hover {
  background-color: #ffffff;
  /* Change the background color on hover for a subtle effect */
  /* Adjust the glow effect on hover */
  color: #00bfff;
}

#map {
  height: 500px;
  width: 100%;
  border: 2px solid white;
  border-radius: 5px;
}

.search {
  display: inline-block;
  justify-content: center;
  margin: 20px auto;
  text-align: center;
}

input {
  color: black;
}

#radius {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #000000;
  border: none;
  border-bottom: 2px solid #000000;
  padding: 8px;
  background-color: transparent;
}

#radius:focus {
  outline: none;
}

#radius::placeholder {
  color: #000000;
}

header {
  /*background-color: #f1f1f1;*/
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
  margin: 10px;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

.logo h1 {
  font-size: 24px;
  margin: 0;
}

/* creating a disclosure button format*/
summary[role="button"] {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  cursor: pointer;
}

/* work on hover and focus to have different colors */


summary::marker::hover {
  color: #004cff;
}

details {
  border: 1px solid #000;
  margin-bottom: 0.25rem;
}

details p {
  margin: 0;
}

.tab-container {
  background-color: white;
  border-radius: 50px;
  width: auto;
}

.tabs {
  list-style: none;
  margin: 0;
  display: flex;
  padding: 5px;
}

.tabs li {
  flex-grow: 1;
}

.tabs a {
  font-size: 20px;
  display: block;
  padding: 10px 20px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  color: black;
  transition: background 0.3s ease-in;
  border-radius: 20px;
  font-family: "Ubuntu", sans-serif;
}

.tabs a:hover {
  background: #60c0f9;
  border-radius: 20px;
  color: #000000;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.subheading3 {
  color: black;
  font-size: large;
  background-color: rgb(228, 245, 255);
}

.paragraph3 {
  color: black;
  background-color: white;
  padding: 10px;
  font-size: medium;
}

/* creating a disclosure button format*/
summary[role="button"] {
  background-color: #fff;
  color: #000;
  padding: 1rem;
  cursor: pointer accentCol;
}

details {
  border: 1px solid #000;
  margin-bottom: 0.25rem;
}

details p {
  margin: 0;
}

.subject {
  float: left;
  margin-right: 10px;
  margin: 5px;
}

#disease {
  clear: right;
  font-size: large;
}

#category {
  clear: right;
  font-size: medium;
  font-style: italic;
  color: rgb(126 126 126);
  font-weight: normal
}